/* ### GENERAL STYLING ###################################################### */

html {
  height: 100%;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  color: white;
}

body {
  background: linear-gradient(to right, #141e30, #243b55);
  /* width: 100%;
  height: 100%; */
  font-family: "Allerta", sans-serif;
}

main {
  margin: auto;
  width: 85%;
}

h1 {
  font-family: "Allerta Stencil";
  font-size: 6.5rem;
  text-align: center;
  margin-top: 40px;
  font-weight: 300;
}

h2 {
  font-size: 4rem;

  margin-top: 7%;
  font-weight: 300;
}

h3 {
  font-size: 2.25rem;
  margin: 10px 0;
  margin-bottom: 20px;
  color: black;
}

.mainHr {
  width: 85%;
  margin: auto;
  border-color: #f5429b;
}

.headingHr {
  width: 48%;
}

p {
  font-size: 1.2rem;
  line-height: 1.4;
  color: black;
  font-weight: 400;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

footer {
  margin: 50px 0px;
}

footer ul {
  font-size: 0.9rem;
  margin: auto;

  padding: 30px 0px;
  display: flex;
  justify-content: space-between;
  width: 85%;
  border-top: 2px solid white;
}

#copyright {
  font-size: 0.9rem;
}

/* ### nav-bar styling ################################################################# */

nav {
  padding: 15px 50px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
}

nav a {
  line-height: 40px;
}

nav li:hover {
  border-bottom: 2px solid #f5429b;
}

nav ul {
  font-size: 1.3rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* ##################### 
  ######################
  ######################

  INDEX/START PAGE STYLING

  ##################### 
  ######################
  ###################### */

.animationText {
  animation: fill 1s ease forwards 4s;
}

button {
  position: absolute;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 20%;
  height: 60px;
  font-family: sans-serif;
  font-size: 1.3rem;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid #f5429b;
  background: none;
  color: white;
  font-weight: 300;
  transition: all 0.7s ease;
}

button:hover {
  background: #f5429b;
  color: black;
  font-size: 1.4rem;
}

button:hover span {
  display: none;
}
button:hover:before {
  content: "Are you sure?";
}

.animationText path:nth-child(n) {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: line-anim 7s ease forwards;
}

/* ### TAG STYLING ######################################################### */

.musicTag {
  transform: translateX(-105px);
}

.musicLink::after {
  content: "/";
  color: #f5429b;
  font-weight: 600;
  font-size: 6.5rem;
  position: absolute;
  right: -20%;
  bottom: 11%;
  opacity: 0;
  transition: all 0.5s ease;
  pointer-events: none;
}

.musicLink::before {
  content: "/";
  color: #f5429b;
  font-weight: 600;
  font-size: 6.5rem;
  position: absolute;
  left: -20%;
  bottom: 11%;
  opacity: 0;
  transition: all 0.5s ease;
  pointer-events: none;

  /* ### old hover-line
  
  content: "";
  position: absolute;
  bottom: 30px;
  height: 0;
  width: 400px;
  transition: all 1s;
  transform: translateX(-67.5%);
  opacity: 0;
  z-index: -1;
  background: linear-gradient(
    180deg,
    rgba(27, 43, 64, 1) 0%,
    rgba(99, 51, 94, 1) 49%,
    rgba(245, 66, 155, 1) 100%
  ); */
}

.musicLink:hover::after {
  opacity: 1;
  right: -4%;
}

.musicLink:hover::before {
  opacity: 1;
  left: -4%;
}

.mindTag {
  transform: translateX(128px);
}

.mindLink::after {
  content: "/";
  color: #f5429b;
  font-weight: 600;
  font-size: 6.5rem;
  position: absolute;
  right: -22%;
  bottom: 12%;
  opacity: 0;
  transition: all 0.5s ease;
  pointer-events: none;

  /* ### old hover-line 
  content: "";
  position: absolute;
  bottom: 30px;
  height: 0px;
  width: 350px;
  transition: all 1s;
  transform: translateX(-100%);
  opacity: 0;
  z-index: -1;
  background: linear-gradient(
    180deg,
    rgba(27, 43, 64, 1) 0%,
    rgba(99, 51, 94, 1) 49%,
    rgba(245, 66, 155, 1) 100%
  ); */
}

.mindLink::before {
  content: "/";
  color: #f5429b;
  font-weight: 600;
  font-size: 6.5rem;
  position: absolute;
  left: -22%;
  bottom: 12%;
  opacity: 0;
  transition: all 0.5s ease;
  pointer-events: none;
}

.mindLink:hover::after {
  opacity: 1;
  right: -6%;
}

.mindLink:hover::before {
  opacity: 1;
  left: -6%;
}

.artTag {
  transform: translateX(-43px);
}

.artLink::after {
  content: "/";
  color: #f5429b;
  font-size: 6.5rem;
  font-weight: 600;
  position: absolute;
  right: -22%;
  bottom: 12%;
  opacity: 0;
  transition: all 0.5s;
  pointer-events: none;
}

.artLink::before {
  content: "/";
  color: #f5429b;
  font-size: 6.5rem;
  font-weight: 600;
  position: absolute;
  left: -19%;
  bottom: 12%;
  opacity: 0;
  transition: all 0.5s;
  pointer-events: none;

  /* ### old hover line
  content: "";
  position: absolute;
  bottom: 30px;
  height: 0;
  width: 260px;
  transition: all 1s;
  transform: translateX(-57%);
  opacity: 0;
  z-index: -1;
  background: linear-gradient(
    180deg,
    rgba(27, 43, 64, 1) 0%,
    rgba(99, 51, 94, 1) 49%,
    );
    rgba(245, 66, 155, 1) 100% */
}

.artLink:hover::after {
  right: -7%;
  opacity: 1;
}

.artLink:hover::before {
  left: -3%;
  opacity: 1;
}

.tag {
  visibility: hidden;
  pointer-events: none;
}

.svgDiv {
  display: none;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.svgDiv > span {
  padding: 42px;
}

/* ##################### 
  ######################
  ######################

  MIND PAGE STYLING

  ##################### 
  ######################
  ###################### */
.navCategoryContainer {
  display: flex;
  align-content: space-around;
  position: sticky;
  width: 85%;
  margin: auto;
  padding: 20px 0px;
  top: 0px;
  z-index: 1;
  background-image: linear-gradient(to right, #141e30, #243b55);
  border-top: 2px solid #f5429b;
  border-bottom: 2px solid white;
}

.categoriesContainer {
  flex: 2;
}

.navContainer {
  flex: 1;
}

.categoriesContainer ul {
  font-size: 1.3rem;
  display: flex;
  justify-content: space-around;
}

.navContainer ul {
  font-size: 1.3rem;
  display: flex;
  justify-content: space-around;
}

.prevContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mindTopicPrev {
  height: 28vh;

  margin-top: 50px;

  flex-basis: 48%;
  padding: 20px;
  background: whitesmoke;
  outline: 1px solid #f5429b;

  transition: all 1s ease-in-out;
  overflow: hidden;
  position: relative;
}

.mindTopicPrev:hover {
  cursor: pointer;
  box-shadow: 0px 0px 0px 7px #f5429b;
  background: rgb(70, 81, 98);
}

.mindTopicPrev:hover::after {
  content: "Read!";
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, 0%);
}

.mindTopicPrev.read {
  flex-basis: 100%;
  height: 100%;
  height: 100%;
  transition: all 1s ease-in-out;
  margin-top: 50px;
  background: whitesmoke;
  outline: 1px solid #f5429b;
  position: relative;
  padding: 40px;
  background-color: whitesmoke;
}

/* .hover {
  cursor: pointer;
  box-shadow: 0px 0px 0px 7px #f5429b;
  background: rgb(70, 81, 98);
}

.hover::after {
  content: "Read!";
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, 0%);
} */
/* .mindTopicPrev:hover::after {
  content: "Read!";
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, 0%);
} */

/* .mindTopicReadBlock {
   display: block;
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  flex-basis: 100%;
  max-height: 100%;
  
  margin-top: 50px;
  background: whitesmoke;
  outline: 1px solid #f5429b;
  position: relative;
  padding: 40px;
  background-color: whitesmoke; */

.topicDate {
  font-weight: 550;
  color: black;
  position: absolute;
  right: 0;
  top: 0;
  font-style: italic;
  margin: 10px;
}

/* ### ANIMATIONS #######################################################*/

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

@keyframes fillTag {
  from {
    fill: white;
  }
  to {
    fill: rgb(245, 47, 162);
  }
}

/* ### MEDIA QUERIES ########################################################*/

@media screen and (max-width: 1000px) {
  .prevContainer {
    flex-direction: column;
  }
}
